$back_color: #DDDDDD;
$heightHeader: 150px;
$colorSection: #007C4C;
$titleFont: 'PT Mono', monospace;
$bodyFont: 'Roboto', sans-serif;
$marginGral: 0 2%;
$marginBody: 0 4%;
$marginImg: 1% 0;
$fontSizeGral: 14px;
$lineheight: 25px;
$percentImg: 90%;
$percentWidthImg: 30%;
$borderImg: 2px solid $back_color;
$paddingImg: 10px 0;